body{
    margin: 0;
    padding:0rem;
    height: 100%;
    width: 100%;
}
.top{
    color: aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 8px;
    text-align:center;
    font-size:1rem;
}
.nv h2{
    font-size:3rem;
    color:bisque;
    font-weight: bolder;
    
    
}
.first{
    display:flex;
    justify-content:space-equally;
    align-items: center;
}
.link:hover{
    font-weight: bold;
    font-size:2rem;
    color:lavender
}
.out{
    color: lavenderblush;
    font-size:2rem;
    font-weight:bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    animation-name: color; 
    animation-iteration-count:infinite;
    animation-duration: 10s;
    animation-play-state: running;
    
}
@keyframes color {
    0%{color:skyblue}
    10%{color:lightsalmon}
    20%{color:aquamarine}
    30%{color:tomato}
    40%{color:lightseagreen}
    50%{color:hotpink}
    60%{color:lightgreen}
    70%{color:lightskyblue}
    80%{color:lightcoral}
    90%{color:lime}
    100%{color:lightpink}
}

.nv{
    height: 100vh;
    width:100%;
    background-image:url(img4.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    animation-name: animate;
    animation-direction:alternate-reverse;
    animation-duration:15s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}
@keyframes animate{
    50%{
        background-image:url(img3.jpg);
    }
    100%{
        background-image:url(img1.jpg);
    }
}
.txt h1{
    color:cornsilk;
    text-align: center;
    font-size: 3rem;
    font-weight:bolder;
    padding-top: 15%;
    text-decoration:none;
}
.txt h6{
    color: aliceblue;
    text-align: center;
}

