.bth{
    
  appearance: none;
  background-color:whitesmoke;
  border-radius: 40em;
  border-style: none;
  box-shadow:#ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 10px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bth:hover{
background-color: lavender;
}
.headtxt{
  text-align: center;
  color: purple;
  font-size: 1.7rem;
  font-weight:bolder;
  font-family :'Times New Roman', Times, serif;
}

.user-student-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.user-student-form {
  background-color: #F4F7F9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.user-form-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.form__input {
  border: 1px solid #D3DCE6;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}

.form__input:focus {
  border-color: #4D90FE;
}
.user-address-container {
  background-color: #F4F7F9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  width:100%
}

.user-address-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.user-address-container .user-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-address-container label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.user-address-container input {
  border: 1px solid #D3DCE6;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  transition: border-color 0.2s ease-in-out;
}
.courseId,
.studentIdNumber,
.username,
.lastname,
.fathername,
.mothername,
.emailId,
.phoneNumber1,
.phoneNumber2,
.studentDOB,
.sslc,
.hsc,
.diploma
 {
  width: 48%;
}
.user-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
} 

/* button css */
.user-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  }
  
  .user-enroll,
  .user-cancel {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  }
  
  .user-enroll {
  background-color: #1E90FF;
  color: #fff;
  margin-right: 20px;
  }
  
  .user-cancel {
  background-color: #fff;
  color: #1E90FF;
  border: 2px solid #1E90FF;
  }
  
  .user-enroll:hover,
  .user-cancel:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
