/* .add-course-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2A7230;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .add-course-btn:hover {
    background-color: #3e9746;
  } */

/* popup css */
.admin-popup-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.admin-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.533);
  z-index: -1;
}

.admin-course-popup {
  background-color: #e5e0e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.admin-course-popup h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.admin-course-popup button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-course-popup .confirm-button {
  background-color: #2A7230;
  color: #fff;
}

.admin-course-popup .confirm-button:hover {
  background-color: #3e9746;
  transform: scale(1.05);
}


.admin-course-popup .cancel-button {
  background-color:#E62020;
  color: #fff;
}

.admin-course-popup .cancel-button:hover {
  background-color: #f24747;
  transform: scale(1.05);
}

/* addcourse btn on bottom right corner in viewcourse page */

  .add-course-btn{
    position: fixed;
    bottom:20px;
    right:20px;
    width: 60px;
    height:60px;
    float:left;
    margin:0 5px;
    background:#2A7230;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  
  .add-course-btn:hover{
    width: 165px;
  }
  
  .add-course-btn .icon{
    height: 60px;
    width:60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
  }
  
  .add-course-btn .icon i{
    font-size: 25px;
    line-height: 60px;
    color: white;
  }
  
  .add-course-btn:hover::after{
    content: "Add Course";
    display: block;
    position: absolute;
    left: 50px;
    top: 0;
    width: 100px;
    height: 60px;
    background: #2A7230;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    border-radius: 0 50px 50px 0;
  }
  
  
  /* .add-course-btn span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  } */
  

  /* Search bar in viewcourse page */
  .search-box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
    width: 35%;
  }
  
  .search-btn {
    background-color: #2A7230;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
    padding: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-btn:hover {
    background-color: #3e9746;
  }


  
  /* Course heading(list of courses) */
  .course-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #2A7230;
  }
  

  /* Courses list display */
  .courses-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    background-color: #e6e3e3;
    padding: 30px;
    max-width: 85%; 
    margin-left:2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  


  /* Course card display */
  .course-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Course card info display */
  .course-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px 0 0 5px;
  }
  
  .course-card-info .course-id {
    font-weight: bold;
    font-size: 1.2rem;
    color: #2A7230;
  }
  
  .course-card-info .course-name,
  .course-card-info .course-duration,
  .course-card-info .course-timing,
  .course-card-details .course-students,
  .course-card-details .course-description {
    font-size: 1.2rem;
    color: #555;
  }
  
  
  /* Course card details */
  .course-card-details {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 0 5px 5px 0;
    justify-content: space-between;
  }
  
  .course-card-details .course-timing {
    font-size: 1.2rem;
    color: #555;
  }
  
  .course-card-details .course-enrolled {
    font-size: 1.2rem;
    color: #555;
  }
  
  .course-card-details .course-description {
    font-size: 1.2rem;
    color: #555;
  }
  


  /* Course card footer for edit and delete */
  .course-card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  
  .course-card-footer button {
    margin-left: 10px;
    cursor: pointer;

  }
    /* background-color: transparent; */
    /* border: none;
    cursor: pointer;
    font-size: 20px; */
  /* }  */
  
  
  .course-card-footer #edit-course {
    color: #2A7230;
  }
  
  .course-card-footer #edit-course:hover {
    color: #3e9746;
  }
  
  .course-card-footer #deletecourse {
    color: #E62020;
  }
  
  .course-card-footer #deletecourse:hover {
    color: #f24747;
  }

  /* Responsive styles */
/* Responsive styles */

@media screen and (max-width: 768px) {
  /* Add Course Button */
  .add-course-btn {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    
  }
  
  .add-course-btn:hover::after {
    
    width: 130px;
   
  }

  /* Search Bar */
  .search-box {
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .search-btn {
    margin-left: 0;
    font-size: 0.8rem;
  }
  
  /* Course Heading */
  .course-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Courses List Display */
  .courses-grid {
    grid-template-columns: 1fr;
    padding: 20px;
    max-width: 95%;
    margin-left: 2.5%;
  }
  
  /* Course Card Info Display */
  .course-card-info {
    padding: 20px;
  }
  
  /* Course Card Details */
  .course-card-details {
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  /* Add Course Button */
  .add-course-btn {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 0.6rem;
    margin: 0 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .add-course-btn:hover {
    width: 120px;
    font-size: 0.8rem;
  }

  .add-course-btn .icon {
    height: 50px;
    width: 50px;
  }

  .add-course-btn .icon i {
    font-size: 20px;
    line-height: 50px;
  }

  .add-course-btn:hover::after {
    left: 60px;
    width: 80px;
    height: 50px;
    line-height: 50px;
  }
  
  /* Search Bar */
  .search-box {
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .search-btn {
    margin-left: 0;
    font-size: 0.9rem;
  }
  
  /* Course Heading */
  .course-heading {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  /* Courses List Display */
  .courses-grid {
    padding: 15px;
    max-width: 95%;
    margin-left: 2.5%;
  }
  
  /* Course Card Info Display */
  .course-card-info {
    padding: 15px;
  }
  
  /* Course Card Details */
  .course-card-details {
    padding: 15px;
  }
}
