.navbar{
    background-color: rgb(195, 8, 176) ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 8px;
}
.middle{
   
    flex:50%;
    height:100%;   
    color:black;
    text-decoration: justify; 
    margin:auto;
    padding-left: 350px;
    padding-right: 250px;
}
.middle1{
   
    flex:50%;
    height:100%;   
    color:black;
    text-decoration: justify; 
    margin:auto;
    padding-left: 200px;
    padding-right: 100px;
}

.right{
    
    flex:50%;
    height:100%;
    color:rgb(19, 19, 19);
    padding-right: 0px;
}
.enrolled-course {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
  }
  .my-learning-button {
    text-align:right;
    margin-left: 200px;
    background-color:red;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    
  }
  
  