.whole2 {
    background-image: url("/home/coder/project/workspace/reactapp/src/components/Auth/Login/back.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
    background-attachment: fixed;
  }
  
  @media (max-width: 768px) {
    .whole1 {
      background-attachment: fixed;
      background-position: top;
    }
  }
  