* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
.mainbar {
  background-color:aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 8px;
}
.mainbar h1{
  font-size:2rem ;
  font-weight:bolder;
  font-style: oblique;
}

.one {
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight:350;
}
.one:hover{
  color:darkslategray;
  font-weight: 500;
}
.home{
  font-size: 1rem;
  font-style: oblique;
  font-weight: lighter;
  border:0.5px solid;
  width:100px;
  background-color: lightyellow;
}
.body {
  background: #4a8fbd;
}

.form {
  background-color: rgb(54, 211, 159);
  color: brown;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
}
.form-body {
  text-align: left;
  padding: 20px 10px;
}
.form-body > * {
  padding: 5px;
}
.form__label {
  width: 40%;
}
.form_input {
  width: 60%;
}
.add {
  background-color: rgb(25, 150, 98);
  border-radius: 5px;
  width: 450px;
  margin: 20px auto;
  padding: 20px;
}
.footer {
  text-align: center;
}
