* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.mainbar {
  background-color: rgb(115, 170, 218));
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 8px;
}

.mainbar h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-style: oblique;
}

.one {
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 350;
}

.one:hover {
  color: darkslategray;
  font-weight: 500;
}
.one1{
  font-size: 1.5rem;
  font-weight: 350;
  text-decoration:underline ;
}
.one1:hover {
  color: darkslategray;
  font-weight: 500;
}

.searchsec {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchinp {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 10px;
  width: 35%;
}

.searchbtn {
  background-color: #84bdeb;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 10px;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
}

.searchbtn:hover {
  background-color: #3e9746;
}




.herosec {
  height: 70px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  justify-items: center;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 350px;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card h2  {
  font-size: 1rem;
  font-weight: lighter;
  font-family:cursive;
  text-align: center;
  color:lightcoral;
}
.card h4{
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border:2px solid;
  
}

.card img {
  width: 350px; 
  height: 200px; 
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}