.nvbar{
    background-color:rgb(195, 8, 176);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 8px;
    text-align:center;
}

.nvbar link{
    text-indent:50px;
    word-spacing:50px;
    white-space:nowrap;
}
img{
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    
}
