* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
.nvbar{
    background-color: rgb(195, 8, 176) ;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 8px;
}

.nvbar h4{
    text-align: center;
    color: aqua;
    padding-left: 350px;
    padding-right: 300px;
}
.nvbar h3{
    flex:50%;
    height:100%;
    padding-left:10px;
    
}
.nvbar.link{
    flex:50%;
    height:100%;
    padding-right: 150px;
}
.searchsec{
    text-align:center;
    
    
}
.herosec{
    height: 70px;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    justify-items: center;
    

}
.card{
    background-color:#fff;
    
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
}
.card h2{
    text-align:center;
}
.herosec img{
    width:100%;
}


    



