* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.mainbar {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 8px;
}

.mainbar h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-style: oblique;
}

.one {
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 350;
}

.one:hover {
  color: darkslategray;
  font-weight: 500;
}
.one1{
  font-size: 1.5rem;
  font-weight: 350;
  text-decoration:underline ;
}
.one1:hover {
  color: darkslategray;
  font-weight: 500;
}

.bth{
    
  appearance: none;
  background-color:whitesmoke;
  border-radius: 40em;
  border-style: none;
  box-shadow:#ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 10px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bth:hover{
background-color: lavender;
}
.headtxt{
  text-align: center;
  color: purple;
  font-size: 1.7rem;
  font-weight:bolder;
  font-family :'Times New Roman', Times, serif;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 12px;
  width: 20%;
}

th {
  background-color:dimgrey;
  color: white;

} 

.courseinfo {
  background-color: #f8f9fa;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
} 

 .courseinfo:hover {
  background-color:lightgray;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translate(0, -5px);
  border:2px solid;
  width: 100%;
} 

.enroll{
  display: flex;
  align-items: center;
  background-color:darkcyan;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 1%;
  transition: all 0.3s ease-in-out;
}
.enroll:hover{
  background-color:darkgreen;
}